<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Update Table</h2>
    <form action="" method="post">
        {% csrf_token %}

        <input type="text" name="name" value="{{obj.name}}"><br>
        <input type="number" name="age" value="{{obj.age}}"><br>
        <input type="number" name="roll" value="{{obj.roll}}"><br>
        <input type="email" name="email" value="{{obj.email}}"><br>
        <input type="password" name="pass1" value="{{obj.pass1}}"><br>
        <input type="password" name="pass2" value="{{obj.pass2}}"><br>
        <input type="submit">
        
    </form>
    
</body>
</html>